---
---

@import  " {{site.theme}} " ;

h1,h2,h3,h4,h5,h6{
  font-family: 'M PLUS 1p', sans-serif;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
  font-weight: revert;
  color: inherit;
}
h1.project-name{
  font-weight: 900;
}
.main-content h1{
  border-bottom: solid 1px #bfbfbf;
}
.main-content h2 {
  border-bottom: dashed 1px #dedede;
}

.btn.dark{
  margin-bottom: 0;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.02);
  border-color: rgba(0,0,0,0.2);
  text-align: center;
}
.btn.dark:hover {
    color: rgba(253,253,253,0.9);
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.3);
}

.page-header{
  color: inherit;
  background: none;
}
