<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

{% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700;800&family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    
    <!-- OGP -->
    <meta name="twitter:card" content="summary_large_image" />
    {% if page.image %}
      <meta property="og:image" content="{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.ogp }}">
    {% endif %}
   
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      {% if page.backBtn %}
        <h3>{{ page.date | date: "%Y年%m月%d日" }}</h3>
      {% endif %}
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      
      {% if page.image %}
      <!--画像-->
        <figure>
          <img src="{{ page.image}}" width="100%"　loading="eager">
          {% if page.copylight %}
            <figcaption>{{ page.copylight }}</figcaption>
          {% endif %}
        </figure>
      {% endif %}
      {{ content }}
      
      {% if page.series %}
      <br><br><br>
      【連載一覧】
      {% for post in site.posts reversed %}
        {% if post.series == page.series %}
          <p>{{ post.series_title }}{% if post.url == page.url %} (←今ココ){% endif %}</p>
        {% endif %}
      
      {% endfor %}
      
       {% endif %}
      {% if page.backBtn %}
      <br><br>
      <h3>書いた人：やまだ</h3>
      <p>Web アプリを作ってはGitHub Pages で公開している学生。最近はバックエンドにも興味を持ち始めている。</p>
      
      <div class="backToHome">
          <p class="center-text"><a href="{{ site.baseurl }}" class="btn dark">TOP に戻る</a></p>
      </div>
      {% endif %}
      
      <footer class="site-footer">
        <p>&copy;2021 Kenichi Yamada</p>
      </footer>
    </main>
  </body>
</html>
