<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    
    <!-- OGP -->
    {% if page.image %}
      <meta property="og:image" content="{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.ogp }}">
    {% endif %}
   
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      {% if page.backBtn %}
        <h3>{{ page.date | date: "%Y年%m月%d日" }}</h3>
      {% endif %}
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <div class="backToHome" style="text-align: center;">
         {% if page.backBtn %}
          <p><a href="{{ site.baseurl }}" class="btn dark">TOPに戻る</a></p>
        {% endif %}
      </div>
      <footer class="site-footer">
        <p>&copy;2021 Kenichi Yamada</p>
      </footer>
    </main>
  </body>
</html>
